* {
  box-sizing: border-box;
  font-size: 0px;
}

.flag {
  position: relative;
  height: 0;
  overflow: hidden;
  margin-bottom: 15px; 
}
  .flag.france {
  padding-top: 66.66%;
}

.stripes {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.france .stripe {
  display: inline-block;
  width: 33.33%;
  height: 100%;
}

.france .blue {
  background-color: #002495;
}

.france .white {
  background-color: #FFFFFF;
}

.france .red {
  background-color: #ED2938;
}

.flag.germany {
  padding-top: 60%;
}

.germany .stripe {
  width: 100%;
  height: 33.33%;
}

.germany .black {
  background-color: #000000
}

.germany .red {
  background-color: #DE0002;
}

.germany .yellow {
  background-color: #FFCE00;
}

.flag.madagascar {
  padding-top: 66.66%;
}

.stripes {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.madagascar .column {
  display: inline-block;
}

#column-1 {
  width: 33.33%;
  height: 100%;
}

#column-1 .stripe {
  display: block;
  height: 100%;
  width: 100%;
}

#column-2 {
  width: 66.66%;
  height: 100%;
}

#column-2 .stripe {
  display: block;
  width: 100%;
  height: 50%;
}

.madagascar .green {
  background-color: #007E39;
}

.madagascar .white {
  background-color: #FFFFFF;
}

.madagascar .red {
  background-color: #FC3E32;
}

.flag.switzerland {
  background-color: #FF0002;
  padding-top: 100%;
  position: relative;
}

.switzerland .cross-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.switzerland .cross {
  background: #FFFFFF;
  height: 60%;
  position: relative;
  width: 20%;
}
.switzerland .cross:after {
  background: #FFFFFF;
  content: "";
  height: 33.33%;
  left: -100%;
  position: absolute;
  top: 33.33%;
  width: 300%;
}

.flag.sweden {
  background-color: #0269A6;
  padding-top: 62.50%;
  position: relative;
}

.sweden .cross-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.sweden .cross {
  background: #FECC00;
  height: 100%;
  position: relative;
  width: 11.11%;
  margin-left: 33.33%
}
.sweden .cross:after {
  background: #FECC00;
  content: "";
  height: 17.775%;
  left: -300%;
  position: absolute;
  top: 41%;
  width: 900%;
}

.flag.gambia {
  padding-top: 66.66%;
  position: relative;
}

.gambia .stripe {
    width: 100%;
    height: 33.33%;
 }

.gambia .red {
    background-color: #CE1127;
}

.gambia .blue {
    background-color: #0D1D8B;
    margin: 3% 0;
    height: 24%;
}

.gambia .green {
    background-color: #3B7827;
}

.gambia .white {
    background-color: #FFFFFF;
}

.flag.japan {
  background-color: white;
  padding-top: 66.66%;
  position: relative;
}

.japan .circle-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.japan .circle {
  height: 50%;
  width: 33.33%;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
}
.flag.niger {
  padding-top: 85.71%;
  position: relative;
}

.niger .stripe {
  width: 100%;
  height: 33.33%;
}

.niger .orange {
  background-color: #E15307;
}

.niger .white {
  background-color: #FFFFFF;
}

.niger .green {
  background-color: #10AF2A;
}
.niger .circle-container {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.niger .circle {
  height: 30%;
  width: 25.712%;
  background-color:  #E15307;
  border-radius: 50%;
  display: inline-block;
}